{% extends 'base.html.twig' %}

{% block title %}Frente de Loja{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">

                <div class="panel-body">
                    <form action="{{ path('pesquisar_produto') }}" method="post" id="form-produto">
                        <div class="input-group">
                            <span class="input-group-addon" ><span class="glyphicon glyphicon-barcode"></span></span>
                            <input type="text" class="form-control" name="codigo" id="cod-produto">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>

                        </div>
                    </form>
                    <hr>

                    <div class="thumbnail hide" id="desc-produto">
                        <img src="http://lorempixel.com/240/240/" width="240" height="240">
                        <div class="caption">
                            <div id="nome-produto"><h3></h3></div>
                            <div id="descricao-produto"><p></p></div>
                            <div id="valor-unitario"><p></p></div>
                        </div>
                    </div>

                    <div class="alert alert-danger hide" id="alerta">
                        Produto não Encontrado
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Carrinho de Compras</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped"> 
                        <thead><th>Item</th><th>Código</th><th>Produto</th><th class="text-right">Valor Unitário</th></thead>
                        <tbody  id="lista-produtos"></tbody>

                    </table>
                </div>
                <div class="panel-footer text-right">
                    Total a pagar: R$ 
                    <span id="valor-total"> </span>
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-estorno" id="abre-estorno">Estornar Item</button>
                <a href="{{ path('cancelar') }}" type="button" class="btn btn-danger" id="bt-cancelar">Cancelar Venda</a>
                <a href="{{ path('concluir') }}" type="button" class="btn btn-success" id="bt-confirmar">Finalizar Venda</a>
            </div>
        </div>
    </div>






    <div id="modal-estorno" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Estorno de Item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Informe o número do item</label>
                        <input type="text" class="form-control" id="item-estorno">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="bt-confirmar-estorno">Estornar</button>
                </div>
            
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            listagemProdutos();
            $('#cod-produto').focus();
            $('#form-produto').submit(function (evento) {
                evento.preventDefault();
                var valores = {
                    "codigo": $('#cod-produto').val()
                };
                $.post('{{ path('pesquisar_produto') }}', valores, function (retorno) {
                    if (retorno.status == 'ok') {
                        $('#desc-produto').removeClass('hide');
                        $('#alerta').addClass('hide');
                        listagemProdutos();
                        $('#nome-produto').html("<h3>" + retorno["produto"].nome + "</h3>");
                        $('#descricao-produto').html("<p>" + retorno["produto"].genero + "</p>");
                        $('#valor-unitario').html("<p> R$ " + retorno["produto"].preco + "</p>");
                        $('#cod-produto').val("");
                        $('#cod-produto').focus();
                    } else {
                        $('#desc-produto').addClass('hide');
                        $('#alerta').removeClass('hide');
                    }
                });
            });
            $('#bt-cancelar').click(function () {
                if (confirm("Deseja cancelar venda?")) {
                    alert("Venda Cancelada");
                    return true;
                } else {
                    return false;
                }
            });
            $('#bt-confirmar').click(function () {
                if (confirm("Deseja finalizar venda?")) {
                    alert("Venda Finalizada");
                    return true;
                } else {
                    return false;
                }
            });
            $('#bt-confirmar-estorno').click(function () {
                var numItem = $('#item-estorno').val();
                location.href="/caixa/estorno/"+numItem;
            });
            $('#abre-estorno').click(function () {
                $('#item-estorno').val("");
                $('#item-estorno').focus();
            });

        });
        function listagemProdutos()
        {
            $('#lista-produtos').empty();
            $.getJSON('{{ path('listagem') }}', function (retorno) {
                var total = 0;
                var item = 1;
                retorno.forEach(function (el, ind) {
                    var li = $('<tr><td>'+item+'</td><td>'+ el.codigo + '</td><td>' + el.descricao + '</td><td class="text-right">R$ ' + el.valor + '</td></tr>');
                    $('#lista-produtos').append(li);

                    total += parseFloat(el.valor);
                    item += 1;
                });
                $('#valor-total').html(total.toFixed(2));
            });





        }
    </script>
{% endblock %}