{% extends 'base.html.twig' %}


{% block body %}   
    <h1>Produto</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ produto.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ produto.nome }}</td>
            </tr>
            <tr>
                <th>Quantidade</th>
                <td>{{ produto.quantidade }}</td>
            </tr>
            <tr>
                <th>Preco</th>
                <td>{{ produto.preco }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ produto.tipo }}</td>
            </tr>
            <tr>
                <th>Imagem</th>
                <td>{{ produto.imagem }}</td>
            </tr>
        </tbody>
    </table>
     <a href="{{ path('produtos_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Voltar</a>
    <a href="{{ path('produtos_edit', { 'id': produto.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
    <div style="float:left;">
    {{ form_start(delete_form) }}
    <button type="submit" value="Delete" class="btn btn-danger">Apagar</button>
    {{ form_end(delete_form) }}
    </div>
{% endblock %}
